*{
    padding: 0;
    margin: 0;
}
body{
    display:flex;
    flex-direction: column;
    
    /* width: 100vw; */
    /* background-color: aqua; */
    /* height: 100vh; */
}
.wrapper{
    min-height: 100vh;
    /* width: 100vw; */
}
.help_orgs{
    padding: 1em;
}
a{
    color:black;
    font-size: larger;
}
.help_orgs li{
    padding: .5em;
    font-family:Arial, Helvetica, sans-serif;
}
#org_name{
    font-family:calibri; 
    font-size:2.2em;
    font-weight: bold;
}
ul {
    list-style: none;
}
h2{
    font-family:calibri; 
    font-size:200%;
}
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #0057b7;
    font-size: x-large;
    color:	#ffd700;
    padding: 0 1em;
    font-family: 'Prompt', sans-serif;
    line-height: 2.5em;
    /* width: 100%; */
}
nav a{
    color:white;
    text-decoration: none;
}
nav ul{
    display: flex;
    flex-wrap: wrap;
}

nav li{
    padding: .5em;
}
main{
    flex-grow: 2;
    display: flex;
    flex-wrap: wrap;
    /* padding: 1em; */
    /* border-radius: 1em; */
    justify-content: space-evenly;
    
    background-color: #0057b7;

}
article{
    width: 33em;
    /* max-height: 500px; */
    margin: 1em;
    padding: 1em;
    background-color: #FFFFFF;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
article img{
    /* width: 25em; */
    width: 80%;
}
article img{
    padding: .5em;
}
article h2{
    font-family: 'Prompt', sans-serif;
    text-align: center;
    padding: .5em;
}
article ol{
    padding: 1em;
}
footer{
    display:flex;
    justify-content: center;
}
footer img{
    width: 3rem;
    
}
.donate{
    border-style: groove;
    border-radius: .5em;
    padding-left: 1em;
}
.hero_image{
    flex-grow: 2;
    background-image: url("images/ukraine_header.jpg");
    background-size: cover;
    height: 400px;
}

#calendar{
    font-family: 'Prompt', sans-serif;
    /* text-align: center; */
    background-color: #0057b7;
    padding: 10px;
}
#calendar a{
    color:#ffd700
}
#aboutUs{
    background-color: #FFEEBB;
    font-family: 'Prompt', sans-serif;
    padding: 10px;
    
}
.whoWeAre{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center

}
.whoWeAre span{
    font-weight: bold;
}

#aboutUs img{
    max-width:80%;
    max-height:80%;
    object-fit: cover;
    flex:1;
   
}
aside{
    max-width: 45em;
    font-size: larger;
}
#help{
    background-color: #FFEEBB;
    /* border-radius: 1em; */
    padding: 1em;;
}
#help h1{
    font-family:calibri;
    padding-bottom: 1em;
    /* padding: 1em; */
}
#help p{
    font-family:calibri; 
    font-size: larger;
    color:rgb(0, 0, 0);
    padding: 1em;
}
.aboutText{
    padding: 1em;
    flex:1;
    min-width: 300px;
}
.aboutText ol{
    padding: 1em;
}
.aboutText li{
    padding: .5em;
}
#events{
    padding: 1em;
    flex:.5;
}

@media only screen and (max-width:600px) {
    
    nav ul{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        
    }
    header{
        flex-direction: column;
        align-items: flex-start;
    }
    article{
        width: 100%;
        /* max-height: 500px; */
        margin: 0;
        margin-bottom: 1em;
        /* padding-top: 1em; */
        background-color: #fff9d8;
        border-radius: 0em;
    }

}
