* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.wrapper {
    min-height: 100vh;
}

.help_orgs {
    font-family: calibri, sans-serif;
}

a {
    color: black;
    font-family: calibri, sans-serif;
}

.help_orgs li {
    font-family: calibri, sans-serif;
}

#org_name {
    font-family: calibri, sans-serif;
    font-size: 200%;
    font-weight: bold;
}

ul {
    list-style: none;
}

h2 {
    font-family: calibri, sans-serif;
    font-size: 200%;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #0057b7;
    font-size: x-large;
    color: #FFFFFF;
    padding: 0 1em;
    font-family: calibri, sans-serif;
    line-height: 3em;
}

nav a {
    color: white;
    text-decoration: none;
    line-height: 0%;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
}

nav li {
    padding-left: 1em;
    display: inline-block;
}

main {
    flex-grow: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #0057b7;
}

article {
    width: 33em;
    margin: 1em;
    padding: 1em;
    background-color: #FFFFFF;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

article img {
    width: 80%;
}

article img {
    padding: .5em;
}

article h2 {
    font-family: calibri, sans-serif;
    text-align: center;
    padding: .5em;
}

article ol {
    padding: 1em;
}

footer {
    display: flex;
    background-color: #FCFFA4;
    justify-content: center;
}

footer img {
    width: 3rem;
    padding: .5em;

}
.donate{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.donate a{
    padding: 0;

}
.donate img {
    /* border-style: groove;
    border-radius: .5em;
    padding-left: .5em; */
    
    height: 2em;
}

.hero_image {
    flex-grow: 2;
    background-image: url("images/ukraine_header.jpg");
    background-size: cover;
    height: 400px;
}

#calendar {
    font-family: calibri, sans-serif;
    background-color: #0057b7;
    padding: 10px;
   
}

.calendar div {
    /* color: #ffd700 */
    display: flex;
    flex-wrap: wrap;
   
}
.calendar div iframe{
    padding: 20px;
}
.eventList{
    flex-wrap: wrap;
    text-align:center;
    padding: 10px 5px 10px 5px;
    border-style:groove;
    border-color:#0057b7;
    font-size: large;
  

}
.eventList h3 {
    padding-bottom:5px;
}
.eventList h4 {
    text-decoration: underline;
}
#aboutUs {
    background-color: #FCFFA4;
    font-family: calibri, sans-serif;
    padding: 10px;

}

.whoWeAre {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
}

.whoWeAre span {
    font-weight: bold;
}

#aboutUs img {
    max-width: 60%;
    object-fit: cover;
}

aside {
    max-width: 45em;
    font-size: larger;
}
.help_calendar{
    display: flex;
    flex-wrap: wrap;
    background-color: #FCFFA4;
    padding: 1em;

}
.calendar h2{
    padding-bottom: .3em;
}
#help {
    /* background-color: #FCFFA4; */
    padding: 1em;
}

#help h1 {
    font-family: calibri;
    padding-bottom: 1em;
}

#help p {
    font-family: calibri;
    font-size: larger;
    color: rgb(0, 0, 0);
    padding: 1em;
}
#help img {
    height: auto;
    width: 50%;
}

.aboutText {
    padding: 1em;
    flex: 1;
    min-width: 350px;
    max-width: 700px;
}

.aboutText ol {
    padding: 1em;
}

.aboutText li {
    padding: .5em;
}

#events {
    padding: 1em;
    flex: .5;
   
}
#events img {
    height: auto;
    width: 100%;
}



@media only screen and (max-width:450px) {
    nav ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    header {
        flex-direction: column;
        align-items: flex-start;
    }

    article {
        width: 100%;
        margin: 0;
        margin-bottom: 1em;
        background-color: #ffffff;
        border-radius: 0em;
    }
    .aboutText {
        padding: 1em;
        flex: 1;
        min-width: 200px;
    }
    #help img {
        height: auto;
        width: 100%;
    }
    #events img {
        height: auto;
        width: 80%;
    }
     help.calendar {
        justify-content: right;
         
    }
    
    help.calendar {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
help.calendar iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
   
}

@media only screen and (max-width:900px) {
    .whoWeAre {
        flex-wrap: wrap;
        justify-content: center;
        flex-direction:column;        
    }
    #aboutUs img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }
    .help_calendar{
        justify-content: center
    
    }
   
    

    };
   
   

